<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="2.5">
    <listener>
        <listener-class>DAO.InitializationDAO</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewTaskServlet</servlet-name>
        <servlet-class>Servlets.NewTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewTaskServlet</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TasksServlet</servlet-name>
        <servlet-class>Servlets.TasksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TasksServlet</servlet-name>
        <url-pattern>/Tasks</url-pattern>
    </servlet-mapping>
</web-app>